import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import random
from numpy.random import default_rng
import plotly
import plotly.express as px
import plotly.graph_objs as go
import plotly.offline as py
from plotly import subplots
import gc
import warnings
import datetime
from pandas_profiling import ProfileReport
from fbprophet import Prophet
from fbprophet.plot import plot_plotly, add_changepoints_to_plot